export(dPCA)
useDynLib(irene, .registration = TRUE)
import(S4Vectors)
import(XVector)
import(GenomeInfoDb)
import(IRanges)
importFrom(igraph, V)
importFrom(igraph, E)
importFrom(igraph, degree)
importFrom(igraph, page_rank)
importFrom(igraph, walktrap.community)
importFrom(igraph, induced.subgraph)
importFrom(igraph, get.edgelist)
importFrom(igraph, set_edge_attr)
importFrom(igraph, as_edgelist)
importFrom(igraph, each_edge)
importFrom(igraph, vcount)
importFrom(igraph, layout.fruchterman.reingold)
importFrom(igraph, set_vertex_attr)
importFrom(igraph, graph_from_data_frame)
importFrom(igraph, rewire)
importFrom(stats, runif)
importFrom(stats, optimize)
importFrom(stats, prcomp)
importFrom(stats, approxfun)
importFrom(utils, read.table)
importFrom(utils, write.csv)
importFrom(utils, untar)
importFrom(graphics, boxplot)
importFrom(graphics, barplot)
importFrom(graphics, plot)
importFrom(graphics, lines)
importFrom(graphics, par)
importFrom(graphics, legend)
importFrom(grDevices, png)
importFrom(grDevices, colorRampPalette)
importFrom(grDevices, dev.off)
importFrom(parallel, mclapply)
import(GenomicRanges)
import(preprocessCore)
import(Rcpp)
import(stringr)
import(enrichR)
