export(dPCA)
export(read.alldata)
export(read.allbed)
export(read.counts)
export(read.data)
export(get.rank)
export(get.srank)
export(get.generank)
export(get.genename)
export(get.norm.data)
export(get.gene)
export(get.geneid)
export(get.rankid)
export(get.auc)
export(make.graph)
export(get.subgraph)
useDynLib(irene, .registration = TRUE)
importFrom(limma, normalizeQuantiles)
importFrom(MASS, boxcox)
importFrom(igraph, V, page_rank, graph_from_data_frame, induced.subgraph)
importFrom(stats, prcomp)
importFrom(utils, read.table)
importFrom(graphics, boxplot)
import(Rcpp)
